 <!-- FORMULARIO -->

 <div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Contrato" [options]="false">
      <div class="row">
        <div class="col-md-3">
            <div class="form-group">
              <label for="text1">Número de contrato</label>
              <input type="text" class="form-control" id="text1"  placeholder="Número de contrato" />
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="text1">Proveedor</label>
            <input type="text" class="form-control" id="text1"  placeholder="Proveedor" />
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="text1">Cliente</label>
          <input type="text" class="form-control" id="text1"  placeholder="Cliente" />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="text1">Vigencia</label>
        <input type="text" class="form-control" id="text1"  placeholder="Vigencia" />
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
  </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <div class="form-group">
              <label for="text1">Forma de pago</label>
              <input type="text" class="form-control" id="text1"  placeholder="Forma de pago" />
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="text1">Anticipo</label>
            <input type="text" class="form-control" id="text1"  placeholder="Anticipo" />
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="text1">Monto maximo</label>
          <input type="text" class="form-control" id="text1"  placeholder="Monto maximo" />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="text1">Monto minimo</label>
        <input type="text" class="form-control" id="text1"  placeholder="Monto minimo" />
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
  </div>

      </div>
      <div class="row">
        <div class="col-md-3">
            <div class="form-group">
              <label for="text1">Lugar de prestación de servicios</label>
              <input type="text" class="form-control" id="text1"  placeholder="Lugar de prestación de servicios" />
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label for="text1">Objetivo del contrato</label>
            <textarea  class="form-control" id="text1"  placeholder="Objetivo del contrato"></textarea>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
      </div>




      </div>
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3" style="text-align: right;">
          <button type="submit" class="btn btn-info">Guardar</button>
        </div>
      </div>


    </app-card>
  </div>

</div>
