

<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Carga contrato" [options]="false">
      <div class="center">
        <p>Para comenzar la carga debemos subir primero el contrato para obtener la "Caratula del contrato"</p>
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

            <p>Arrastra hasta aquí el documento</p>
            </ng-template>

        </ngx-file-drop>

      </div>
        </app-card>
        </div>
        </div>
