.header_page{
    background-color: #95ABB6;
    color:white;
    text-align: center;
    padding: 10px;
}
.title{
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.subtitle{
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
}