<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Lista contratos" [options]="false" blockClass="table-border-style">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="input-group">
          <!--   <select class="form-select" id="inputGroupSelect04">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select> -->
            <input type="text" class="form-control">
            <button class="btn btn-outline-secondary" type="button"><i class="feather icon-search "></i></button>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
      <div class="table-responsive">
        <table class="table table-styling">
          <thead>
            <tr class="table-primary">
              <th>Contrato</th>
              <th>Cliente</th>
              <th>Objeto del contrato</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>&#64;mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>&#64;fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>&#64;twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="javascript:" tabindex="-1"><</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:">></a>
          </li>
        </ul>
      </nav>
    </div>
    </app-card>
  </div>
</div>
