:host{
    mat-card-header{
        background-color: #092241;
        color: #ffffff;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        padding: 10px;
    }
    mat-card-content {
        //background-color: #95ABB6;
        border-left: #95abb6 solid 2px;
        border-right: #95abb6 solid 2px;
        color: #000000;
        padding: 10px;
    }
    
    mat-card-actions{
        //background-color: #95ABB6;
        border-bottom: #95abb6 solid 2px;
        border-left: #95abb6 solid 2px;
        border-right: #95abb6 solid 2px;
        padding: 10px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}
/*
.btn-green{
    background-color: #009688;
    color: #ffffff;
}
.btn-green:active{
    border-color: #01a998;
    background-color: #01a998;
    color: #ffffff;
}

.btn-yellow{
    background-color: #ff9800;
    color: #ffffff;
}
.btn-yellow:active{
    border-color: #fdad35;
    background-color: #fdad35;
    color: #ffffff;
}

.btn-red{
    background-color: #F44336;
    color: #ffffff;
}
.btn-red:active{
    border-color: #f55d52;
    background-color: #f55d52;
    color: #ffffff;
}

.btn-gray{
    background-color: #607D8B;
    color: #ffffff;
}
.btn-gray:active{
    border-color: #97a4ab;
    background-color: #97a4ab;
    color: #ffffff;
}
*/