<mat-divider></mat-divider>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="ddlInicioVigencia" (change)="onSearch()" #ddlInicioVigencia>
                        <option selected>Seleccione</option>
                        @for(year of inicio; track year){
                          <option [value]="year">{{ year }}</option>
                        }
                    </select>
                    <label for="ddlInicioVigencia">Inicio de vigencia:</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="ddlFinVigencia" (change)="onSearch()" #ddlFinVigencia>
                        <option selected>Seleccione</option>
                        @for(year of fin; track year){
                            <option [value]="year">{{ year }}</option>
                          }
                    </select>
                    <label for="ddlFinVigencia">Fin de vigencia:</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." 
                 (keyup)="onSearching()"
                 (keyup.enter)="onSearch()" #txtSearchCard>
                <span *ngIf="!searching" class="input-group-text feather icon-search" (click)="onSearch()"></span >
                <span *ngIf="searching" class="input-group-text feather icon-x-circle" (click)="onClear()"></span >
                <!--<div class="input-group-append">
                    <span class="input-group-text feather icon-search"></span >
                    <span class="input-group-text feather icon-x-circle"></span >
                </div> -->
            </div>
        </div>
        <div class="col">
            <p><mat-slide-toggle labelPosition="before"
                class="error-slide-toggle" 
                [checked]="active" 
                (change)="onToggle($event)"
                >Mostrar solo Activos</mat-slide-toggle></p>
        </div>
    </div>
</div>

<!--<mat-grid-list colspan="12" [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let contrato of pageList">
        <div>
            <app-contrato-card [contrato]="contrato"></app-contrato-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>-->



<mat-divider></mat-divider>
    <div class="grid col-12 bm-8 pt-2" >
      <div *ngFor="let contrato of pageList" class="sm:col-5 md:col-4 xl:col-3">
        <app-contrato-card [contrato]="contrato"></app-contrato-card>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="lenght"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOption"
        (page)="onPageChange($event)"
        [showFirstLastButtons]="true"
        #paginador
        ></mat-paginator>
    
