:host{
    p{
        text-align: center;
        color: #000000;
        font-size: 12pt;
    }
}
.demo-table {
    width: 100%;
}

.mat-mdc-header-row{
    background-color: #092241;
    color: #ffffff;
}
  
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    //border-color: currentColor;
    background-color: #fee1e1;
}

/*.mat-mdc-row:nth-child(even){
    background-color: red;
}*/
        
.mat-mdc-row:nth-child(odd){
    background-color: #ededed;
}
  
.demo-row-is-clicked {
    font-weight: bold;
    background-color: #fe7e7e;
}