:host{
    p{
        text-align: center;
        color: #000000;
        font-size: 12pt;
    }
}
.demo-table {
    width: 100%;
}

.mat-mdc-header-cell{
    text-align:center;
    font-size: 12pt;
    font-weight: 500;
}
/*
.mat-mdc-cell{
    text-align:center;
    justify-content: center;
}*/

.mat-mdc-header-row{
    background-color: #092241;
    color: #ffffff;
}
  
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    //border-color: currentColor;
    background-color: #abb2b9;
}

/*.mat-mdc-row:nth-child(even){
    background-color: red;
}*/
        
.mat-mdc-row:nth-child(odd){
    background-color: #ededed;
}
  
.demo-row-is-clicked {
    font-weight: bold;
    background-color:  #85929e !important;
    text-decoration: line-through;
}
