<div class="row">
    <div class="col-sm-12">
        <div class="grid-container">
            <div class="cuadro">
                <div class="header_cuadro">
                 <span > OBLIGACIONES </span> 
                </div>
                <div class="div_imagen">
                  <img class="imagen" src="assets/images/OBLIGACIONES.png" >
                </div>
                <div class="row justify-content-end div_button">
                  <div class="col-md-8">
                      <div class="div_button_Verificado">Verificado</div>
                      <!-- <button class="btn btn-success btn-sm" type="button">Verificado</button> -->
                  </div>
                </div>
                  
              </div>
              <div class="cuadro">
                <div class="header_cuadro">
                  PENALIZACIÓN Y DEDUCTIVAS
                </div>
                <div class="div_imagen">
                  <img class="imagen" src="assets/images/PENALIZACIONES Y DEDUCTIVAS.png" >
                </div>
                <div class="row justify-content-end div_button">
                  <div class="col-md-8">
                      <div class="div_button_falta">Falta Verificación</div>
                      <!-- <button class="btn btn-warning btn-sm" type="button">Falta Verificación</button> -->
                  </div>
                </div>
              </div>
              <div class="cuadro">
                <div class="header_cuadro">
                   ENTREGABLES
                </div>
                <div class="div_imagen">
                  <img class="imagen" src="assets/images/ENTREGABLES.png" >
                </div>
                <div class="row justify-content-end div_button">
                  <div class="col-md-8">
                      <div class="div_button_Verificado">Verificado</div>
                      <!-- <button class="btn btn-success btn-sm" type="button">Verificado</button> -->
                  </div>
                </div>
              </div>
              <div class="cuadro">
                <div class="header_cuadro">
                  SERVICIOS
                </div>
                <div class="div_imagen">
                  <img class="imagen" src="assets/images/SERVICIOS.png" >
                </div>
                <div class="row justify-content-end div_button">
                  <div class="col-md-8">
                      <div class="div_button_Verificado">Verificado</div>
                      <!-- <button class="btn btn-success btn-sm" type="button">Verificado</button> -->
                  </div>
                </div>
              </div>
              <div class="cuadro">
                <div class="header_cuadro">
                  GARANTÍAS
                </div>
                <div class="div_imagen">
                  <img class="imagen" src="assets/images/GARANTIAS.png" >
                </div>
                <div class="row justify-content-end div_button">
                  <div class="col-md-8">
                      <div class="div_button_Verificado">Verificado</div>
                      <!-- <button class="btn btn-success btn-sm" type="button">Verificado</button> -->
                  </div>
                </div>
                
              </div>
              <div class="cuadro">
                <div class="header_cuadro">
                  METODOLOGÍAS
                </div>
                <div class="div_imagen">
                  <img class="imagen" src="assets/images/METODOLOGIAS.png" >
                </div>
                <div class="row justify-content-end div_button">
                  <div class="col-md-8">
                      <div class="div_button_Verificado">Verificado</div>
                      <!-- <button class="btn btn-success btn-sm" type="button">Verificado</button> -->
                  </div>
                </div>
              </div>
          
            
        </div>
    </div>
</div>         
